<div class="control-group {if $form.is_bound and $field.field_required}{if $field.is_valid}success{else}error{/if}{/if}">
	<label class="control-label">{$field.field_title} {if $field.field_required and not $form.is_bound}<span style="color: {$cfg['form.required_color']};">*</span>{/if}</label>
	<div class="controls">
		{capture "input"}
			{foreach $field.field_values as $key => $value}
				<label class="radio">
					<input type="radio"
						id="{$form.form_alias}_{$field.field_alias}"
						name="{$form.form_alias}_{$field.field_alias}"
						value="{$key}"
						{if $field.value == $key}checked{/if}
						{if $field.field_required}required{/if}
						{if $field.field_disabled}disabled{/if}
						{$field.field_attr|default:''}>
					{$value}
				</label>
			{/foreach}
		{/capture}
		{$smarty.capture.input|regex_replace:"#[\n\r\t]+#":" "}
		{if $form.is_bound and not $field.is_valid}
			<p class="help-block">{$field.field_invalid_message}</p>
		{elseif $field.field_help}
			<p class="help-block">{$field.field_help}</p>
		{/if}
	</div>
</div>