<div class="control-group">
	<label class="control-label" for="{$form.form_alias}_{$field.field_alias}">{$field.field_title}</label>
	<div class="controls">
		<div class="{if $field.field_prepend}input-prepend{/if} {if $field.field_append}input-append{/if}">
			{if $field.field_prepend}<span class="add-on">{$field.field_prepend}</span>{/if}<input type="text" id="{$form.form_alias}_{$field.field_alias}" name="{$form.form_alias}_{$field.field_alias}" value="{$field.field_value}" placeholder="{$field.field_placeholder}" style="{if $field.field_width}width: {$field.field_width};{/if} {if $field.field_height}height: {$field.field_height};{/if}" {if $field.field_required}required{/if} {if $field.field_disabled}disabled{/if} {if $field.field_readonly}readonly{/if} {if $field.field_pattern}pattern="{$field.field_pattern}"{/if} {if $field.field_maxlength}maxlength="{$field.field_maxlength}"{/if}>{if $field.field_append}<span class="add-on">{$field.field_append}</span>{/if}
			{if $field.field_help_inline}
				<span class="help-inline">{$field.field_help_inline}</span>
			{/if}
			{if $field.field_help}
				<p class="help-block">{$field.field_help}</p>
			{/if}
		</div>
	</div>
</div>