{strip}
{if $form.data.is_bound and $form.data.is_valid}
	<div>{$form.data.form_message}</div>
	<pre>{foreach $form.fields as $field}<b>{$field.field_title}</b> ({$field.field_alias}): {$field.value}<br>{/foreach}</pre>
{else}
	<form novalidate action="{$form.data.form_action}" class="{$form.data.form_class}" enctype="{$form.data.form_enctype|default:'application/x-www-form-urlencoded'}" id="{$form.data.form_alias}_form" method="{$form.data.form_method}">
		
		{if $form.data.is_bound and not $form.data.is_valid}
			<div class="alert">
				Проверьте правильность заполнения формы:
				<ul>
					{foreach $form.fields as $field}
						{if not $field.is_valid and $field.field_invalid_message}
							<li>{$field.field_invalid_message}</li>
						{/if}
					{/foreach}
					{if not $form.data.is_csrf_token_valid}
						<li>Произошла ошибка отправки формы, попробуйте снова</li>
					{/if}
				</ul>
			</div>
		{/if}
	
		{if count($form.tabs) > 1}
			<div class="tabbable">
				<ul class="nav nav-tabs">
					{foreach $form.tabs as $tab}
						<li class="{if $tab@iteration == 1}active{/if}"><a href="#{$form.data.form_alias}_tab{$tab@iteration}" data-toggle="tab">{$tab.tab_title}</a></li>
					{/foreach}
				</ul>
				<div class="tab-content">
					{foreach $form.tabs as $tab}
						<div class="tab-pane {if $tab@iteration == 1}active{/if}" id="{$form.data.form_alias}_tab{$tab@iteration}">
							{foreach $tab.fields as $field_id}
								{include "form/{$form.fields.$field_id.field_type}.html" field=$form.fields.$field_id form=$form.data}
							{/foreach}
						</div>
					{/foreach}
				</div>
			</div>
		{else}
			{foreach $form.tabs as $tab}
				{foreach $tab.fields as $row}
					{include "form/{$form.fields.$field_id.field_type}.html" field=$form.fields.$field_id form=$form.data}
				{/foreach}
			{/foreach}
		{/if}
		
		<input class="{$form.data.form_submit_class|default:$cfg['form.submit_class']}" type="submit" name="submit" value="{$form.data.form_submit_text|default:'Отправить'}">
		
		<input type="hidden" name="{$form.data.form_alias}_csrf_token" value="{$form.data.csrf_token}">

{*
{foreach $forminputs AS $inp}

{if !empty($inp.title)}<label for="order_fio">{$inp.title}{if $inp.is_requare} <span>*</span>{/if}</label>{/if}
{if ($inp.type == 'text')}
	<input type="text" name="{$inp.inputname}" class="itext" value="" size="{$inp.size}" maxlength="{$inp.maxlength}" />
{elseif $inp.type == 'textarea'}
	<textarea name="{$inp.inputname}" rows="{$inp.rows}" cols="{$inp.cols}"></textarea>
{elseif $inp.type == 'select'}
	<select name="{$inp.inputname}">
	{foreach $inp.list_elements AS $k => $s}
	<option value="{$k}"{if in_array($s, $inp.default_element)} selected="selected"{/if}>{$s}</option>
	{/foreach}
	</select>
{elseif $inp.type == 'checkbox_list'}
	{foreach $inp.list_elements AS $k => $s}
	<input name="{$inp.inputname}[{$k}]" type="checkbox" value="1" {if in_array($s, $inp.default_element)}checked="checked"{/if}/> {$s}{if !$s@last}<br/>{/if}
	{/foreach}
{elseif $inp.type == 'radiogroup'}
	{foreach $inp.list_elements AS $k => $s}
	<input name="{$inp.inputname}" type="radio" name="radio{$inp.id}" value="{$k}" {if in_array($s, $inp.default_element)}checked="checked"{/if}/> {$s}{if !$s@last}<br/>{/if}
	{/foreach}
{elseif $inp.type == 'html'}
	<div style="margin:15px 0">{$inp.html}</div>
{elseif $inp.type == 'checkbox'}
	<input type="checkbox" name="{$inp.inputname}" value="1" />
{/if}

{if !empty($inp.note)}
	<div style="color:gray; font: 11px Tahoma;">{$inp.note}</div>
{/if}
{/foreach}
*}
	</form>
{/if}
{/strip}