{extends "base.html"}

{block name=content}
<h1>{$page.page_name}</h1>
<ul>
{foreach $pages as $row}
	<li><a href="{$row.URL}">{$row.TITLE}</a>
		{if $row.children}
			<ul>
			{foreach $row.children as $row2}
				<li><a href="{$row2.URL}">{$row2.TITLE}</a>
					{if $row2.children}
						<ul>
						{foreach $row2.children as $row3}
							<li><a href="{$row3.URL}">{$row3.TITLE}</a></li>
						{/foreach}
						</ul>
					{/if}
				</li>
			{/foreach}
			</ul>
		{/if}
	</li>
{/foreach}
</ul>
{/block}